@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

body {
    background-color: #22242a;
}
.card {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 16px;
    margin: 12px;
    width: 220px;
    text-align: center;
    font-family: 'Bricolage Grotesque';
}

.card img {
    width: 5.5em;
    height: 5.5em;
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
}

header img {
    width: 50px;
    height: 50px;
}

header input {
    flex: 1;
    height: 50px;
    padding: 0 16px;
    color: #999;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: transparent;

    font-size: 16px;
    font-family: "Bricolage Grotesque", sans-serif;

    outline: none;
    transition: 0.2s;
}

.card h2,
.card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
}

header input:focus {
    border-color: #999;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

header button {
    width: 50px;
    height: 50px;
    background: transparent;
    border: 1px solid #999;
    border-radius: 8px;
    padding: 0;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

header button img {
    width: 28px;
    height: 28px;
}

#center{
    color:#999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bricolage Grotesque";
}

.card{
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 12px;

    transition: transform .25s ease,
                box-shadow .25s ease;
}

.card:hover{
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 15px 35px rgba(0,0,0,.35);
    cursor:pointer;
}

.overlay{
    position:absolute;
    inset:0;

    background:rgba(0,0,0,.55);

    display:flex;
    justify-content:center;
    align-items:center;

    opacity:0;
    transition:opacity .25s ease;
}

.card:hover .overlay{
    opacity:1;
}

.open-btn{
    background:white;
    color:#22242a;

    border:none;
    border-radius:8px;

    padding:12px 20px;

    font-family:"Bricolage Grotesque";
    font-weight:600;

    cursor:pointer;

    transition:.2s;
}

.open-btn:hover{
    transform:scale(1.08);
}